body{
    background-color: rgb(70, 142, 236);
    font: normal 15pt arial;
}
header{
    text-align: center;
    color: white;

}
section{
    background-color: white;
    width: 500px;
    text-align: center;
    padding: 15px;
    margin: auto;
    border-radius: 15px;
    
}   
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 3%;
}
footer{
    text-align: center;
    color: white;
    margin-top: auto;
    

}